<%- include("partials/head") %>

<body class="text-center products">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">proJect</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">

                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="/p">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    <a class="nav-link" href="/logout">
                        Logout
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid ">

        <div class="card product-box">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item's</th>
                            <th scope="col">Description</th>
                            <th scope="col">Qty(per item)</th>
                            <th scope="col">Price(R)</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">1</th>
                            <td>Banana</td>
                            <td>Yellow fruit.</td>
                            <td>36</td>
                            <td>5.50</td>
                            <td><img src="https://th.bing.com/th/id/OIP.XFvgjrUne5hvG2AZFEjjzgHaEK?pid=ImgDet&rs=1"
                                    alt="CurvedShaped-Yellow-Fruit-Img"></td>
                        </tr>
                        <tr>
                            <th scope="col">2</th>
                            <td>Apple</td>
                            <td>Red/Green ball shaped fruit.</td>
                            <td>23</td>
                            <td>5.00</td>
                            <td><img src="https://th.bing.com/th/id/R.9ca926d309e6f49f8aa36ae7cb7980cc?rik=lZiRFgbjZc17iA&pid=ImgRaw&r=0"
                                    alt="CurvedShaped-Yellow-Fruit-Img"></td>
                        </tr>
                        <tr>
                            <th scope="col">3</th>
                            <td>Egg</td>
                            <td>Oval shaped.</td>
                            <td>20</td>
                            <td>3.99</td>
                            <td><img src="https://ahealthylifeforme.com/wp-content/uploads/2013/03/Amy-Staffords-Eggs.jpg"
                                    alt="Chicken-egg-img"></td>
                        </tr>
                        <tr>
                            <th scope="col">4</th>
                            <td>Fish</td>
                            <td>Sea animal.</td>
                            <td>10000</td>
                            <td>20</td>
                            <td><img src="https://th.bing.com/th/id/R.7fdb6851159fcb6f33a9ef7d8e3f3a77?rik=Fi5U3iWLhZyo1w&pid=ImgRaw&r=0"
                                    alt="Salmon-Img"></td>
                        </tr>
                    </tbody>
                </table>

            </div>



        </div>

        <div>

        </div>

        <p class="mt-5 mb-3 text-muted">&copy; 2001-2022</p>



</body>



<%- include("partials/foot") %>