<%- include("partials/head") %>

<body class="register-login">

    <div class="container-fluid signinbox">

        <div class="card">
            <div class="card-body">
                <form action="/" method="post" class="form-signin">
                    <h1 class="h3 mb-3 font-weight-lg">Register</h1>


                    <div class="inputs">
                        <input name="username" type="username" class="form-control username" placeholder="Username">
                        <input name="firstname" type="firstname" class="form-control firstname"
                            placeholder="First name">
                        <input name="lastname" type="lastname" class="form-control" placeholder="Last name">
                        <input name="email" type="email" class="form-control email" placeholder="Email address" required
                            autofocus>
                        <input name="password" type="password" class="form-control password" placeholder="Password"
                            required>
                    </div>
                    <button class="btn btn-lg btn-dark btn-block font-weight-lg" type="submit">Sign up</button>

                </form>

                <div class="or-container">
                    <div class="line-separator"></div>
                    <div class="or-label">or</div>
                    <div class="line-separator"></div>
                </div>

                <div class="col-sm-13">
                    <div class="card social-block border-danger">
                        <div class="card-body social-block border-danger">
                            <a class="btn btn-block google-btn" href="/auth/google" role="button">
                                <i class="fab fa-google"></i>
                                Sign Up with Google
                            </a>
                        </div>
                    </div>
                </div>



                <!-- <a href="/auth/google">
                    <button type="button" class="btn btn-outline-danger btn-lg btn-block font-weight-lg">
                        <i class="fab fa-google"></i>
                        Sign up with Google
                    </button>
                </a> -->


                <p>Already have an account? <a href="/login">Login</a></p>


            </div>

        </div>



    </div>

    <div>

    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2001-2022</p>



</body>



<%- include("partials/foot") %>